body {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Arvo', sans-serif;
  text-align: center;
}

h1 {
  font-size: 4em;
  line-height: 1em;
}

.flag {
  height: 300px;
}

.flag-details {
  font-size: 1.2em;
  padding-left: 20px;
}

section#pride, section#coop {
  padding: 2%;
}

section#pride {
  float: left;
  min-width: 46%;
}

section#coop {
  float: right;
  min-width: 46%;
}

/*smaller*/
@media (max-width: 1037px) { 
  .flag {
    height: 150px;
  }

  section#pride {
    min-width: 96%;
    float: none;
  }
  
  section#coop {
    min-width: 96%;
    float: none;
  }

}

.pride > .band {
  height: 16.66%;
}

.flag.pride > .band:nth-child(1) {
  background-color: #e50001;
}
.flag.pride > .band:nth-child(2) {
  background-color: #ff8d01;
}
.flag.pride > .band:nth-child(3) {
  background-color: #ffee02;
}
.flag.pride > .band:nth-child(4) {
  background-color: #018121;
}
.flag.pride > .band:nth-child(5) {
  background-color: #004cff;
}
.flag.pride > .band:nth-child(6) {
  background-color: #750288;
}

.coop > .band {
  height: 14.2857%;
}

.flag.coop > .band:nth-child(1) {
  background-color: #f00;
}
.flag.coop > .band:nth-child(2) {
  background-color: #f60;
}
.flag.coop > .band:nth-child(3) {
  background-color: #ff0;
}
.flag.coop > .band:nth-child(4) {
  background-color: #0c0;
}
.flag.coop > .band:nth-child(5) {
  background-color: #3cf;
}
.flag.coop > .band:nth-child(6) {
  background-color: #00c;
}
.flag.coop > .band:nth-child(7) {
  background-color: #609;
}

#disclaimer {
  text-align: center;
  font-size: 0.8em;
}

a {
  color: #000;
}
